<div class="profile">
    <div class="nav">
        <h2 class="main-heading">Employee Information</h2>
        <ul id="navUL">
            <li>Profile</li>
            <li>Personal</li>
            <li>Address</li>
            <li>Education</li>
        </ul>
    </div>
    <!-- <<<<<< PROFILE  >>>>>>>>> -->
    <div id="profile">
        <h5 class="heading">Profile</h5>
        <ul class="grid">
            <li>
                <h5>Name</h5>
                <p>Ganesh Pendyala</p>
            </li>
            <li>
                <h5>Designation</h5>
                <p>AMTS</p>
            </li>
            <li>
                <h5>Employe ID</h5>
                <p>AMTS</p>
            </li>
            <li>
                <h5>Location</h5>
                <p>Hyderabad</p>
            </li>
            <li>
                <h5>Mobile</h5>
                <p>+91-XXXXXXXXXX</p>
            </li>
            <li>
                <h5>Mail</h5>
                <p>ganesh.p@gaiansolutions.com</p>
            </li>

        </ul>
    </div>
    <!-- <<<<<< PERSONAL  >>>>>>>>> -->

    <div id="personal">
        <h5 class="heading">Personal</h5>
        <ul class="grid">
            <li>
                <h5>DOB</h5>
                <p>DD-MM-YYYY</p>
            </li>
            <li>
                <h5>Gender</h5>
                <p>MAle</p>
            </li>
            <li>
                <h5>Blood Group</h5>
                <p>B+</p>
            </li>
            <li>
                <h5>Marital Status</h5>
                <p>Single</p>
            </li>
            <li>
                <h5>Nationality</h5>
                <p>Indian</p>
            </li>
            <li>
                <h5>Father Name</h5>
                <p>Narender</p>
            </li>
        </ul>
    </div>
    <!-- <<<<<< ADDRESS  >>>>>>>>> -->

    <div id="address">
        <h5 class="heading">Address</h5>
        <ul class="grid">
            <li>
                <h5>Flat-No</h5>
                <p>xx/xx</p>
            </li>
            <li>
                <h5>Landmark</h5>
                <p>Temple</p>
            </li>
            <li>
                <h5>Street Name</h5>
                <p>Street</p>
            </li>
            <li>
                <h5>City</h5>
                <p>CityName</p>
            </li>
            <li>
                <h5>State</h5>
                <p>Telangana</p>
            </li>
            <li>
                <h5>Pin Code</h5>
                <p>xxx-xxx</p>
            </li>
        </ul>
    </div>
    <!-- <<<<<< EDUCATION  >>>>>>>>> -->

    <div id="education">
        <h5 class="heading">Education</h5>
        <ul class="grid">
            <li>
                <h5>0</h5>
                <p>00</p>
            </li>
            <li>
                <h5>0</h5>
                <p>00</p>
            </li>
            <li>
                <h5>0</h5>
                <p>00</p>
            </li>

        </ul>
    </div>

</div>

<!-- 
designation 
gender 
Dob
Bio

 -->